@model Web.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Změna hesla";
}

<h3>Změna hesla</h3>
<br />


<div class="row">

    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="CurrentPassword" class="control-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmNewPassword" class="control-label"></label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <input type="submit" value="Změnit heslo" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

