@model Web.Models.ForgotPasswordviewModel

@{
    ViewData["Title"] = "Zapomenuté heslo";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="forgot-page">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h3>Zapomenuté heslo</h3>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 grid-margin mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="ForgotPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Odeslat" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


