@model Web.Areas.Admin.Models.ParentViewModel

@{
    ViewData["Title"] = "Přidat rodiče";
    Layout = "_AdminLayout";
}


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h5>Přidat nového rodiče</h5>
            </div>

            <div class="card-body">
                <form asp-action="AddParent" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md">
                            @Html.LabelFor(model => model.Childrens.StudentsId, new { @class = "control-label" })
                            <div class="col-sm-6">
                                @Html.ListBoxFor(model => model.Childrens.StudentsId, new MultiSelectList(Model.Childrens.Students, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "StudentsDropdown" })
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group d-inline float-right">
                            <input type="submit" value="Vytvořit rodiče" class="btn btn-primary" />
                        </div>
                        <div class="d-inline">
                            <a asp-action="ParentList">Zpět</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>